.ant-popover-arrow {
  display: none;
}
.ant-popover-inner-content {
  padding: 0;
}
.ant-popover .stroke-width-select {
  list-style: none;
  padding: 5px 0;
  > li {
    width: 80px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    &:hover {
      color: @primary-color;
    }
  }
}
